@charset "utf-8";

body {
    font: normal normal normal 1em/1 "Epoque", sans-serif; color: lavender;
}
.menu, .rodape {
    font-family: 'acay';
    font-style: normal;
    font-size: 1.05em;
    letter-spacing: 0.015em;
}

p,
pre,
a,
span,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style-type: none;
}
hr {  margin: 0; padding: 0; width: 98vw; }
h2 { font-size: 2em; text-align: center; font-family: "acay"; padding: 0vh 2vw 3vh 2vw; color: #104981;}
body {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    width: 100%;
}

.litle-desc {
    width: 40%;
    padding: 1vh 235px;
    color: #104981;
    font-size: 1.12em;
    line-height: 1.2em;
}

.epoque, .epoque_seria, .alumina {
    width: 98vw;
    margin: 1vh 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE */
}
.epoque:hover, .epoque_seria:hover, .alumina:hover, .quadros:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    /* transition: 1s; */
}
#usos { width: 97%; margin: 0 auto;}
.quadros {
    float: left;
    width: 19vw;
    padding-bottom: 1vh;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE */
}
.use { height: 19vw;}
.clean {
    clear: right;
}
@media screen and (min-width: 641px) and (max-width: 1080px) {

    .paginas {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #usos { width: 98%; margin: 0 auto;}
    .quadros {
        width: 31vw;
        padding-bottom: 1vh;
    }
    .use { width: 31vw; min-width: 360px; height: auto;}

}
@media screen and (min-width: 480px) and (max-width: 640px) {
    .paginas {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .quadros {
        width: 46vw;
        padding-bottom: 1vh;
    }
    .use { width: 46vw; min-width: 240px; height: auto;}
}
@media screen and (min-width: 240px) and (max-width: 480px) {

    .quadros {
        width: 98vw;
        padding-bottom: 1vh;
    }
    .use { width: 96vw; min-width: 140px; height: auto;}
}
