@charset "utf-8";

body {
    font: normal normal normal 1em/1 "Epoque", sans-serif; color: lavender;
}
.menu, .rodape {
    font-family: 'acay';
    font-style: normal;
    font-size: 1.05em;
    letter-spacing: 0.015em;
}

p,
pre,
a,
span,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style-type: none;
}
hr {  margin: 0; padding: 0; width: 98vw; }
h2 { font-size: 2em; text-align: center; font-family: "acay"; padding: 0vh 2vw 3vh 2vw; color: #104981;}
body {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    width: 100%;
}

.litle-desc {
    width: 41%;
    padding: 10vh 235px;
    color: #4080bfd1;
    font-size: 1.12em;
    line-height: 1.2em;
    letter-spacing: 0.016em;
}

.epoque, .epoque_seria, .alumina {
    width: 98vw;
    margin: 1vh 0;
    -webkit-filter: contrast(125%) brightness(136%) grayscale(100%);
    filter: contrast(115%) brightness(110%) grayscale(100%);
    filter: gray; /* IE */
}
.epoque:hover,
.epoque_seria:hover,
.alumina:hover,
.quadros:hover,
.epoque:active,
.epoque_seria:active,
.alumina:active,
.quadros:active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    /* transition: 1s; */
}
#usos { width: 97%; margin: 0 auto;}
.quadros {
    float: left;
    width: 19vw;
    padding-bottom: 1vh;
    overflow: hidden;
    -webkit-filter: contrast(125%) brightness(136%) grayscale(100%);
    filter: contrast(125%) brightness(136%) grayscale(100%);
    filter: gray; /* IE */
}
.use { height: 19vw;}
.clean {
    clear: right;
}
@media screen and (min-width: 801px) and (max-width: 1080px) {
    .litle-desc {
        width: 66%;
        padding: 1vh 165px;
        font-size: 1.12em;
        line-height: 1.2em;
    }
    #usos { width: 98%; margin: 0 auto;}
    .quadros {
        width: 22vw;
        padding-bottom: 1vh;
    }
    .use { height: 22vw; }

}
@media screen and (min-width: 641px) and (max-width: 800px) {
    .litle-desc {
        width: 66%;
        padding: 1vh 165px;
        font-size: 1.12em;
        line-height: 1.2em;
    }
    #usos { width: 98%; margin: 0 auto;}
    .quadros {
        width: 31vw;
        padding-bottom: 1vh;
    }
    .use { height: 31vw; }

}
@media screen and (min-width: 480px) and (max-width: 640px) {
    .litle-desc {
        width: 80%;
        padding: 1vh 10%;
        font-size: 1.12em;
        line-height: 1.2em;
    }
    .quadros {
        width: 46vw;
        padding-bottom: 1vh;
    }
    .use { height: 46vw; }
}
@media screen and (min-width: 240px) and (max-width: 480px) {
    .litle-desc {
        width: 90%;
        padding: 1vh 5%;
        font-size: 1.12em;
        line-height: 1.2em;
    }
    .quadros {
        width: 98vw;
        padding-bottom: 1vh;
    }
    .use { height: 96vw; }
}
